{{define "header"}}
    <header>
        <nav>
            <a href="/">Home page</a>
            <a href="/auth">Log in</a>
            <a href="/register">Register</a>
        </nav>
    </header>
{{end}}